<!-----------------------------------------Layout------------------------------------------>

<head>
  <title>Lightbook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script>
    $.fn.editable.defaults.mode = 'inline';
  </script>
</head>
<template name="layout">
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a href="{{#if currentUser}}/feed{{else}}/{{/if}}" id="homeLink" class="navbar-brand">LightBook</a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
	      {{#if currentUser}}
          <li>
	        <form class="navbar-form" id="searchForm" role="search">
		      <input type="text" id="searchText" required="required" name="searchText"
		             class="form-control" placeholder="Search">
	        </form>
          </li>
          <li>
            <form class="navbar-form form-inline">
	          <div class="btn-group">
                <button class="btn btn-primary userDropdown" href="/feed">
		          <span class="glyphicon glyphicon-user"></span>
		          {{currentUser.username}}
		          <span id="requestCount" class="badge">{{friendRequests}}</span>
	            </button>
	            <button type="button"class="btn btn-primary userDropdown dropdown-toggle" data-toggle="dropdown">
		          <span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
		          <li>
		            <a href="/friendlist">
		              <span class="badge pull-right">{{friendRequests}}</span>
		              Friends
		            </a>
		          </li>
		          <li>
		            <a id="logoutLink" href="/logout">Logout</a>
		          </li>
	            </ul>
	          </div>
            </form>
          </li>
	      {{else}}
          <li>
            <form class="navbar-form form-inline">
              <div class="btn-group">
	            <a href="/login"><button type="button" class="btn btn-primary userDropdown">
		            <span class="glyphicon glyphicon-log-in"></span>  Login
	            </button></a>
              </div>
            </form>
            </li>
          {{/if}}
	    </ul>
      </div>
    </nav>
    <div id="container">
      {{yield}}
    </div>
  </body>
</template>

<!-----------------------------------------INDEX------------------------------------------->

<template name="index">
  <h1>Welcome to lightbook!</h1>
  <a href="/login">Login</a><br>
  <a href="/register">Register</a>
</template>

<!-----------------------------------------REGISTER---------------------------------------->

<template name="register">
  <div class="form-signin">
    <form id="registerform">
      <h2 class="form-signin-heading">Register</h2>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="text" required="required" id="username" name="username"
	           class="form-control form-input-styling" placeholder="Username">
      </div>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="text" name="realName" required="required" id="realName"
	           class="form-control form-input-styling" placeholder="Name">
      </div>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="text" name="location" required="required" id="location"
	           class="form-control form-input-styling" placeholder="Location">
      </div>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="password" name="password" required="required" id="password"
	           class="form-control form-input-styling" placeholder="Password">
      </div>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="password" name="password_again" required="required" id="password_again"
	           class="form-control form-input-styling" placeholder="Enter your password again">
      </div>
      {{> errorMsg}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">
	    <span class="glyphicon glyphicon-floppy-disk"></span> Register
      </button>
    </form>
    <div><a class="pull-right" href="/login">Already a member?</a></div>
  </div>
</template>

<!-----------------------------------------LOGIN------------------------------------------->

<template name="login">
  <div class="form-signin">
    <form id="loginform">
      <h2 class="form-signin-heading">Login</h2>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="text" id="loginUsername" required="required" name="loginUsername"
	           class="form-control form-input-styling" placeholder="Username" />
      </div>
      <div class="input-group input-group-lg form-div-styling">
	    <input type="password" id="loginPassword" required="required" name="loginPassword"
	           class="form-control form-input-styling" placeholder="Password" />
      </div>
      {{> errorMsg}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">
	    <span class="glyphicon glyphicon-lock"></span> Sign in
      </button>
    </form>
    <a class="pull-right" href="/register">Create new account</a>
  </div>
</template>

<!-----------------------------------------LOGOUT------------------------------------------>

<template name="logout">
  <h1>You have logged out!</h1>
  <a href="/login">Log in again?</a>
</template>

<!-----------------------------------------HOME FEED--------------------------------------->

<template name="homeFeed">
  {{#unless currentUser}}
  {{> pleaseLogin}}
  {{else}}
  <div id="friendInfo">
    <h1><a id="name" class="editable" data-type="text" data-rows="4">
	    {{currentUser.profile.name}}
    </a></h1>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <a id="location" class="editable" data-type="text" data-rows="4">
	    {{currentUser.profile.location}}
      </a>
    </div>
    <div class="list-group-item">
      <a id="aboutMe"  class="editable" data-type="textarea" data-rows="4">{{currentUser.profile.aboutMe}}</a>
    </div>
  </div>
  <form id="msgForm" role="form">
    <div class="input-group input-group-lg form-div-styling">
      <input type="text" name="userMsg" required="required" id="userMsg"
	         class="form-control form-input-styling" placeholder="Enter a message">
    </div>
  </form>
  {{>errorMsg}}
  <ul id="msgFeed" class="list-group">
    {{#each messageList}}
    {{> post}}
    {{/each}}
  </ul>
  {{/unless}}
</template>

<!-----------------------------------------FEED-------------------------------------------->

<template name="feed">
  {{#unless currentUser}}
  {{> pleaseLogin}}
  {{else}}
  <div id="friendInfo">
    <h1>{{this.profile.name}}</h1>
    <div class="pull-right">{{{friendStateButton}}}</div>
  </div>
  <div class="list-group">
    <div class="list-group-item">{{this.profile.location}}</div>
    <div class="list-group-item">{{this.profile.aboutMe}}</div>
  </div>

  {{#if isFriends}}
  <form id="msgForm" role="form">
    <div class="input-group input-group-lg form-div-styling">
      <input type="text" required="required" name="userMsg" id="userMsg"
	         class="form-control form-input-styling" placeholder="Enter a message">
    </div>
  </form>
  {{>errorMsg}}
  <ul id="msgFeed" class="list-group">
    {{#each messageList}}
    {{> post}}
    {{/each}}
  </ul>
  {{else}}
  <p>Become friends with {{this.profile.name}} to see this person's feed.</p>
  {{/if}}
  {{/unless}}
</template>

<!-----------------------------------------USER NOT FOUND---------------------------------->

<template name="userNotFound">
  <h1>User not found!</h1>
</template>

<!-----------------------------------------POST-------------------------------------------->

<template name="post">
  <li class="list-group-item">
    <h4 class="list-group-item-heading"><a href="/feed={{this.from}}">{{this.name}}</a></h4>
    <p class="list-group-item-text">{{this.message}}</p>
  </li>
</template>

<!-----------------------------------------ERRORMSG---------------------------------------->

<template name="errorMsg">
  <div class="alert alert-danger alert-dismissable form-div-styling" id="errorMsg">
    <button type="button" class="close">&times;</button><span id="txt"></span>
  </div>
</template>

<!-----------------------------------------FRIENDLIST-------------------------------------->

<template name="friendlist">
  {{#unless currentUser}}
  {{> pleaseLogin}}
  {{else}}
  {{#if pendingRequests}}
  <h2>Friend requests</h2>
  {{#each requestList}}
  <li class="list-group-item">
    <div name="{{this.username}}" class="pull-right">
      <button class="btn btn-success btn-xs" id="acceptFriendRequest">
	    <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button class="btn btn-danger btn-xs" id="denyFriendRequest">
	    <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <h3 class="list-group-item-heading">
      <a href="/feed={{this.username}}">
	    {{this.profile.name}}
      </a>
    </h3>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-globe"></span>
      {{this.profile.location}}
    </p>
  </li>
  {{/each}}
  {{/if}}
  <h2>Your friends</h2>
  <ul id="friendList" class="list-group">
    {{#each friends}}
    <li class="list-group-item">
      <h3 class="list-group-item-heading">
	    <a href="/feed={{this.username}}">
	      {{this.profile.name}}
	    </a>
      </h3>
      <p class="list-group-item-text">
	    <span class="glyphicon glyphicon-globe"></span>
	    {{this.profile.location}}
      </p>
    </li>
    {{/each}}
  </ul>
  {{/unless}}
</template>

<!-----------------------------------------SEARCH------------------------------------------>

<template name="search">
  {{#unless currentUser}}
  {{> pleaseLogin}}
  {{else}}
  <h2>Search results for {{ this.search }}</h2>
  <ul id="searchMatches" class="list-group">
    {{#each results}}
    <li class="list-group-item">
      <h3 class="list-group-item-heading">
	    <a href="/feed={{username}}">
	      {{profile.name}}
	    </a>
      </h3>
      <p class="list-group-item-text"><span class="glyphicon glyphicon-globe"></span>
	    {{profile.location}}</p>
    </li>
    {{/each}}
  </ul>
  {{/unless}}
</template>

<!-----------------------------------------PLEASELOGIN------------------------------------->

<template name="pleaseLogin">
  <h1><a href="/login">Please log in to view this page.</a></h1>
</template>

<!-----------------------------------------NOT FOUND--------------------------------------->

<template name="404">
  <h1>Not found!</h1>
  <p>The page you requested could not be found.</p>
</template>
