body {
  padding-top: 40px;
  background-color: #EEEEEE;
}

.userDropdown > span.caret {
    border-top-color: white;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin > div {
    margin-top: 5px;
}

.form-div-styling {
    width: 100%;
    margin-bottom: 5px;
}

#container {
    margin: 0 auto;
    max-width: 33%;
    padding: 15px;
}

.form-input-styling {
    border-radius: 6px !important;
}

label.error {
    margin-top: 10px;
    text-align: center;
    color: red;
}

.half-width {
    width: 50%;
}

#friendInfo > h1 {
    display: inline;
}

#friendInfo > div.pull-right {
    margin-top: 7px;
}
#friendInfo {
   margin-bottom: 10px;
}

#requestCount {
    margin-left: 10px;
    margin-right: 0;
    color: rgb(66, 139, 202);
    background-color: white;
}

#acceptFriendRequest {
    margin-right: 5px;
}

#errorMsg {
    display: none;
}

#successMsg {
    display: none;
}